@page
@model ApplicationSecurity.Pages.Error.ServerErrorModel
@{
    ViewData["Title"] = "Server Error";
}

<h1>500 - Internal Server Error</h1>
<p>@Model.ErrorMessage</p>

<a asp-page="/Index">Return to Homepage</a>
